.main {
    display: flex;
    flex-direction: row;

    &__heading {
        font-family: $primary-font;
        font-size: 5rem;
        font-weight: 600;
        margin: 4rem 2rem;
    }

    &__posts {
        display: flex;
        flex-direction: column;
    }
}

.post {
    display: flex;
    flex-direction: row;

    &__img {
        display: block;
        width: 29rem;
        margin: 0 2rem 2rem 2rem;
    }

    &__textbox {
        display: block;
        position: relative;
    }

    &__subheading {
        color: $color-primary;
        font-family: $primary-font;
        font-size: $font-size-small;
        text-transform: uppercase;
        font-weight: 600;
        margin: 2rem 0;
    }

    &__heading {
        font-size: 3rem;
        margin: 0;
    }

    &__paragraph {
        margin: 2rem 0;
        line-height: 2;
    }


    &__more {
        font-family: $primary-font;
        color: $color-black;
        font-size: $font-size-small;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 4rem;

        &::before {
            content: "+";
            font-family: $primary-font;
            font-size: $font-size-big;
            color: $color-primary;
            display: inline-block;
            transform: rotate(-45deg);
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

.mission {
    margin: 2rem;
    max-width: 40%;
    position: relative;

    &__back-subheading {
        font-family: $primary-font;
        color: $color-white;
        font-size: $font-size-xl;
        font-weight: 500;
        text-transform: uppercase;
        word-break: break-all;
        line-height: 0.7;
        max-width: 40rem;
    }

    &__back-heading {
        font-family: $secondary-font;
        color: $color-primary;
        font-size: 8rem;
        position: absolute;
        transform: rotate(-20deg);
        top: 7rem;
        right: 6rem;
    }

    &__img {
        width: 50rem;
        position: absolute;
        top: 12rem;
        left: -8rem;
    }

    &__textbox {
        margin: 27rem 4rem 2rem 4rem;
        position: relative;
    }

    &__heading {
        font-family: $primary-font;
        font-size: 5rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }

    &__subheading {
        font-size: 3rem;
        max-width: 30rem;
        margin-bottom: 2rem;
    }

    &__paragraph {
        font-size: $font-size-xs;
        line-height: 2;
        margin-bottom: 2rem;
    }

    &__more {
        font-family: $primary-font;
        color: $color-black;
        font-size: $font-size-small;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        margin-bottom: 2rem;
        margin-left: 4rem;

        &::before {
            content: "+";
            font-family: $primary-font;
            font-size: $font-size-big;
            color: $color-primary;
            display: inline-block;
            transform: rotate(-45deg);
            position: absolute;
            bottom: -2rem;
            left: 0;
        }
    }

}