@mixin more-symbol {
    content: "+";
    font-family: $primary-font;
    font-size: $font-size-big;
    color: $color-primary;
    display: inline-block;
    transform: rotate(-45deg);
}

@mixin more-link-style {
    font-family: $primary-font;
    color: $color-black;
    font-size: $font-size-small;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
