h3 {
  font-family: $secondary-font;
  font-size: $font-size-medium;
}

h4 {
  font-family: $primary-font;
  font-size: $font-size-big;
}

h5 {
  font-family: $primary-font;
  font-size: $font-size-normal;
  font-weight: 500;
}

p {
  font-family: $thrietary-font;
  font-size: $font-size-xs;
}
