.footer {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(rgba($color-black, .3), rgba($color-black, .3)),
    url('../../img/img_footer.svg') no-repeat;
  background-size: cover;
  background-position: 65% 45%;
  padding: 2rem;
  width: 97rem;

  @include media-breakpoint-up(laptop) {
    background-position: 65% 30%;
  }

  @include media-breakpoint-up(desktop) {
    width: 122rem;
  }

  @include media-breakpoint-up(hdDesktop) {
    width: 138rem;
  }

  @include media-breakpoint-up(fhdDesktop) {
    width: 184rem;
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
    margin-right: 8rem;
    margin-left: 4rem;
  }

  &__logo {
    width: 18rem;
    margin: 2rem 0;
  }

  &__social {
    width: 100%;
    padding-left: 3rem;
    margin-top: 4rem;

    @include media-breakpoint-up(portraitTablet) {
      padding-left: 8rem;
    }

    @include media-breakpoint-up(laptop) {
      order: 3;
      padding-left: 30rem;
    }
  }

  &__social-list {
    display: flex;
    flex-direction: row;
  }

  &__social-item {
    & + & {
      margin: 0;
      margin-left: 2rem;
    }
  }

  &__social-icon {
    display: inline-block;
    color: $color-white;
    font-size: 2rem;

    &:hover {
      transform: scale(1.5);
      transition: all 0.3s;
    }
  }

  &__menu {
    @include media-breakpoint-up(portraitTablet) {
      order: 3;
      margin-top: -16rem;
    }

    @include media-breakpoint-up(laptop) {
      display: flex;
      flex-direction: row;
      margin-left: 30rem;
    }

    @include media-breakpoint-up(fhdDesktop){
      margin-top: 0;
      margin-left: 0;
    }
  }
}

.footer-box {
  font-family: $tertiary-font;
  font-size: $font-size-xxs;
  color: $color-white;
  line-height: 1.7;
  margin-left: 3rem;
  width: 27rem;


  @include media-breakpoint-up(portraitTablet) {
    margin-left: 30rem;
    width: 30rem;
    order: 3;
  }
  @include media-breakpoint-up(laptop) {
    margin: 0;
    width: 17rem;
    margin-top: 3rem;
  }

  @include media-breakpoint-up(laptop) {
    & + & {
      margin-left: 7rem;

      @include media-breakpoint-up(desktop) {
        margin-left: 16rem;
      }
    }
  }

  @include media-breakpoint-up(landscapePhone) {
    font-size: 1.5rem;
  }

  &__list-item {
    &:hover {
      transform: scale(1.1);
    }
  }

  &__list-link {
    color: inherit;
  }

  &__heading {
    font-size: $font-size-medium;
    color: $color-primary;
    text-transform: uppercase;
  }
}
