.navbar {
  display: flex;
  justify-content: space-between;

  &__logo {
    display: block;
    width: 22rem;
    margin-top: 1rem;
  }
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: $primary-font;
  text-transform: uppercase;
  font-size: $font-size-xs;
  font-weight: 600;
  color: $color-black;

  &__item {
    margin: 2rem;

    &:hover {
      transform: scale(1.1);
      color: $color-primary;
    }
  }

  &__link {
    &:hover {
      border-bottom: 0.2rem solid $color-primary;
      transition: scale 0.3s;
    }
  }

  &__line {
    height: 1.8rem;
    border-left: .2rem solid $color-black;
  }
}
