.navbar {
    display: flex;
    justify-content: space-between;

    &__logo {
        display: block;
    }

    &__nav{

        a {

            color: $color-black;
            text-decoration: none;
        }

        #vl {
            border-left: .2rem solid $color-black;
            height: 1.8rem;
        }
    }
}

