.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: $primary-font;
  position: relative;
  margin: 8rem 3rem 0 3rem;

  &__description {
    width: 30%;
    position: relative;
    animation: moveInUp 2s;

    &::after {
      content: '';
      background: url('../../img/ico_art.png');
      background-size: contain;
      width: 13rem;
      height: 18rem;
      transform: rotate(-90deg);
      position: absolute;
      bottom: 0;
      right: -18rem;
      z-index: 1;
    }
  }

  &__results {
    position: absolute;
    top: 32rem;
    right: -35rem;
    font-size: 12rem;
    font-weight: 600;
    color: $color-white;
    text-transform: uppercase;
    transform: rotate(-90deg);
    white-space: nowrap;
  }

  &__completed {
    margin-top: 20rem;
    color: $color-black;
  }

  &__number {
    color: $color-primary;
    font-size: 23rem;
    font-weight: 500;
  }

  &__survival {
    max-width: 25rem;
    margin: -2rem 0 2rem 0;
    font-size: $font-size-big;
    font-weight: 600;
  }

  &__percent {
    color: $color-primary;
  }

  &__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 73rem;
    height: 78rem;
    background: url('../../img/img_man.svg') no-repeat;
    background-size: cover;
    background-position: 100% 100%;
  }

  &__textbox {
    padding: 20rem .5rem 3rem 2rem;
    width: 33rem;
    color: $color-white;
    outline: 2rem solid $color-primary;

    &:hover {
      outline: 2rem solid $color-primary;
      outline-offset: 1rem;
    }
  }

  &__share {
    text-transform: uppercase;
    font-weight: 500;
    color: inherit;
  }

  &__text {
    font-size: $font-size-medium;
    margin: 2.5rem 0 3rem 0;
    color: inherit;
  }
}
