.navbar {
    &__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-family: $primary-font;
    font-size: $font-size-small;
    color: $color-black;
    text-transform: uppercase;

    li {
            margin: 1rem;
            padding: 1rem;
    }
}
}